*{
    box-sizing: border-box;
}

body {
   background-color: bisque;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   margin: 0;
}

.container {
background-color: antiquewhite;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0,0,0,0.3);
overflow: hidden;
width: 400px;
max-width: 100%;

}
.form {
    padding: 30px 40px;
}


.forn-control{

    margin-bottom: 10px;
    padding-bottom: 20px;
}