*{
    box-sizing: border-box;
}

body {
   background-color: bisque;
   min-height: 100vh;
   margin: 0;
   
}

.container {
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 100%;
}

.header{
    text-align: center;
}

form{
    display: block;
    text-align: center;
    margin: 50px;
}


.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

input{
    width: 200px;
}

label{
    width: 100px;
    display: inline-block;
}

#submit_button{
    text-align: center;
}

select{
    width: 200px;
}